
import(stats)
import(Matrix)
import(rip.opencv)
importFrom(parallel, parLapplyLB, clusterEvalQ)

export(rip.deconvlucy, rip.deconvwnr)
export(rip.denoise, rip.deconv, rip.upscale)
export(rip.grad)

## utilities

## optDFTlength ?

export(zapsmallp, rip.edgetaper, make.kernel,
       g.autoreg, g.nonpar,
       ## h.theoretical, # find better name if we want to export
       symmetric.blur)






